**/.ipynb_checkpoints/
**/*.csv
**/*.pkl
**/*.pt
**/*.gz
**/*.pth
**/.DS_Store
.vscode/
data/
data_bbbc021/
wandb/
checkpoints/
**/__pycache__/
**/*__pycache__*
**/*.cpython*.pyc
**/*.egg-info*/
run_docker.sh
build/
dist/